/* body整个 */
body{
    margin: 0px;
    background-color: hsl(0, 0%, 96%);
}
/* 悬浮按钮 */
.suspension{
    display: none;
    position: fixed;
    width: 70px;
    height: 200px;
    bottom: 200px;
    right: 0px;
}

.susimg{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.susimg img{
    width: 20px;
    height: 20px;
}
.sustxt{
    display: flex;
    justify-content: center;
    font-size: 0.6rem;
    margin-top: 5px;
}
#sus-open{
    background-color: white;
    box-shadow: 0px 0px 10px 1px hsl(0, 0%, 90%);
}
.sus-open-part{
    display: block;
    width: 70px;
    height: 70px;
    position: relative;
}
.sus-open-part:last-child,.sus-open-part:nth-child(2){
    border-top: solid 1px hsl(0, 0%, 86%);
}


/* 二维码 */
#QRcode{
    display: none;
    position: absolute;
    top: 0px;
    right: 80px;
    background-color: white;
    border: solid 1px hsl(0, 0%, 86%);
    box-shadow: 0px 0px 10px 1px hsl(0, 0%, 90%);
}
#QRcode img{
    width: 200px;
    height: 200px;
}
#QRcode p{
    text-align: center;
    font-size: 0.7rem;
    font-weight: bolder;
    margin: 0px 0px 10px 0px;
}
.sus-open-part:nth-child(2):hover{
    #QRcode{
        display: block;
    }
}
/* 回顶部 */
#sus-backtop{
    display: block;
    background-color: white;
    width: 70px;
    height: 70px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px 1px hsl(0, 0%, 90%);
}
#backtop-img{
    display: flex;
    justify-content: center;
    padding-top: 12px;
}
#backtop-img img{
    width: 35px;
    height: 35px;
}
#backtop-txt{
    font-size: 0.6rem;
    text-align: center;
}

/* 广告 */
#ad{
    display: block; 
    position: absolute;
    width: 90px;
    bottom: 75px;
    left: 0px;
    top: 20px;
    
}
#ad-img{
    display: flex;
}
#ad-img img{
    width: 90px;
    height: 370px;
}
#ad button{
    width: 90px;
    font-weight: lighter;
}

/* 头部内容 */
header{
    width: 100%;
    background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0.9), hsla(0, 0%, 0%, 0));
    position: fixed;
    top: 0px;
    z-index: 100;
}

/* 顶部导航栏 */
#auto-nav{
    display: flex;
    width: 1200px;
    padding: 0px;
    margin: 0px auto;
    font-size: 0.75rem;
    height: 64px;
    align-items: center;
}
#logo img{
    width: 40px;
    height: 40px;
}
nav{

    color: white;
    display: flex; 
    justify-content: center; 
}
nav ul{
    display: flex;
    height: 64px;
    margin: 0px auto;
    padding: 0px;
    border-width: 2px;
    list-style-type: none;
}
nav ul li{
    padding: 20px 20px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}
nav ul li:hover{
    background-color: black;
}
#dropdown-famous{
    display: none;
    position: absolute;
    left: 0px;
    top: 64px;
    background-color: hsla(0, 0%, 0%, 0.2);
    width: 70px;
    height: auto;
    border-radius: 0 0 5px 5px;
}
#dropdown-famous li:last-child{
    padding-bottom: 10px;
}
#dropdown-famous li{
    padding: 5px;
    justify-content: center;
}
#nav-ming{
    position: relative;
    width: 30px;
}
#nav-ming a{
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-ming:hover{
    background-color: black;
    #dropdown-famous{
        display: block;
    }
}
#dropdown-famous li:hover{
    background-color: black;
    
}

/* 搜索框 */
#search{
    display: flex;
    margin-left: auto;
    align-items: center; 
}
#search-input1{
    width: 150px;
    border: none;
    border-radius: 20px;
    padding: 2px 6px;
    margin: auto 0;
    height: 29px;
    color: white;
    background-color: hsl(0, 0%, 0%, 0.5);
}
#search-input2{
    height: 29px;
    width: 66px;
    border: none;
    border-radius: 20px;
    padding: 2px 6px;
    margin: auto 0;
    margin-right: 20px;
    color: white;
    background-color: hsl(0, 0%, 0%, 0.5);
}
#search-input2:hover{
    color: hsl(28, 81%, 46%);
    background-color: bisque;
}
/* 账户 */
#account{
    height: 23px;
    display: flex;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    padding: 2px 6px;
    border-radius: 20px;
    margin: auto 0 ;
    margin-left: 0;
}
#account a{
    color: white;
    margin: auto;
}
#account:hover{
    a{color: hsl(28, 81%, 46%);}
    background-color: bisque;
    border-color: hsl(28, 81%, 46%);
}

/* 主内容 */
main{
    min-width: 1400px;
}
/* 横幅广告 */
#allpoint{
    display: flex;
    position: absolute;
    left: 48%;
    top: 775px;
    background-color: hsla(0, 0%, 96%,0.7);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.point{
    width: 10px;
    height: 10px;
    margin: 10px;
    background-color: hsl(0, 0%, 73%);
    border-radius: 100%;
}
#banner{
    position: relative;
    z-index: 0;
}
#banner img{
    width: 100%;
    height: 800px;
}
#turnleft{
    position: absolute;
    left: 0px;
    top: 355px;
    display: flex;
    background-color: hsl(0,0%,0%,0.5);
    height: 90px;
    width: 50px;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
}
#turnright{
    position: absolute;
    right: 0px;
    top: 355px;
    display: flex;
    background-color: hsl(0,0%,0%,0.5);
    height: 90px;
    width: 50px;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
}
#turnleft img{
    width: 30px;
    height: 50px;
    position: relative;
    left: 10px;
}
#turnright img{
    width: 30px;
    height: 50px;
    position: relative;
    left: 10px;
}
/* 超链接 */
a{
    text-decoration: none;  /*无下划线*/
    color: inherit;
}


/* 热点 */
#roll-text{
    display: flex;
    margin: 0 auto 5px auto;  
    width: 85%;
    min-width: 1200px;
    box-shadow: inset 0 0 10px 1px hsla(28, 94%, 49%, 0.5);
    border-radius: 10px;
    height: 2rem;
    align-items: center;
}
#roll-text p{
    margin: 0px;
}

/* 分块标题 */
h2{
    width: 85%;
    min-width: 1200px;
    display: flex;
    font-size: 1.5rem;
    border-left: 10px solid black;
    padding-left: 10px;
    background-color: hsl(0, 4%, 74%);
    margin: auto;
    height: 44px;
    align-items: center;
}


/* 分块内容 */
.contant{
    display: flex;
    width: 85%;
    min-width: 1200px;
    margin: 0px auto;
}
/* 小板块 */

.smalltitle{
    display: flex;
    border-bottom: 2px solid hsl(0, 0%, 51%);
    margin-top: 20px;
    margin-bottom: 20px;
}
.more{
    margin-left: auto;
    align-items: center;
    display: flex;
    color: gray;
}
a.more-a:hover{
    color: hsl(28, 81%, 46%);
}

h3{
    margin-bottom: 0px;
    margin-top: 0px;
    border-bottom: solid 3px hsl(0, 89%, 41%);
}

/* 新闻中心 */
#news{
    margin-bottom: 20px;
    position: relative;
}
[class^="fa-duotone fa-solid fa-calendar-days"]{
    font-size: 1.25rem;
    margin-right: 8px;
}
#news h2 p{
    font-size: 1rem;
    margin-left: auto;
    margin-right: 20px;
    font-weight: lighter;
}
.news-part{
    width: 32%;
    padding-right: 2%;
}
.top-content{
    text-indent: 2rem;
    color: hsl(0, 0%, 48%);
    font-size: 0.8rem;
    margin-left: 0.5rem;
}
.top-title{
    font-weight: bolder;
    border-left: solid 4px hsl(0, 89%, 41%);
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news-others{
    font-size: 0.9rem;
    display: flex;
    line-height: 30px;
}
.news-others:hover{
    box-shadow: 5px 5px 15px 1px hsl(0, 0%, 62%);
    border-radius: 5px;
}
.others-title{
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.others-time{
    display: flex;
    margin-left: auto;
    margin-right: 0px;
}
.news-top{
    margin-bottom: 10px;
}
/* 养生中国 */
.regimen-part{
    width: 32%;
}
.regimen-part:first-child,.regimen-part:nth-of-type(2){
    margin-right: 30px;
}
/* 节气养生 */

#jieqi-img img{
    width: 100%;
}
/* 药膳食疗 */
#in1-content{
    display: flex;
}
#in1-img{
    width: 30%;
}
#regimen-p2-content{
    width: 65%;
    margin-left: 5%;
    margin-top: 10px;
}
#in1-img img{
    width: 100%;
}
/* 养生漫画 */
#regimen-part3{
    display: flex;
}
.regimen-part3-img{
    width: 50%;
    justify-content: center;
    padding: 10px 0px;
}
.regimen-part3-img a{
    display: flex;
    height: 185px;
}
#regimen-part3 img{
    width: 80%;
    height: 100%;
    margin: auto;
}
.regimen-imgtitle{
    text-align: center;
}
.regimen-part3-img:hover{
    box-shadow: 0px 0px 15px 5px hsl(0, 0%, 62%);
}
/* 节气养生 */
#regimen-p1 img{
    width: 200px;
    height: 150px;
}
#regimen-p2 img{
    width: 60px;
    height: 80px;
}
/* 名 */
#famous{
    margin-bottom: 20px;
}
.famous-part{
    width: 31%;
}
.famous-part ul{
    line-height: 40px;
}
#famous-part1,#famous-part2{
    margin-right: 42px;
}
#famous-part3-list,#famous-part2-list{
    display: flex;
}
#famous-part3-list ul:first-child{
    margin-left: 10px;
}
#famous-part2-list,#famous-part3-list{
    justify-content: space-between;
}
#famous a:hover{
    color: hsl(28, 98%, 44%);
}
#famous-part1 ul,#famous-part2-list ul,#famous-part3-list ul{
    margin: 0px;
    padding: 0px;
}

#famous ul{
    list-style-type: none;
}

[class^="fa-solid fa-"]::before{
    margin-right: 10px;
    display: flex;
    width: 28px;
    height: 28px;
    color: white;
    background-color: hsl(28, 98%, 44%);
    justify-content: center;
    align-items: center;
}
[class="fa-duotone fa-solid fa-user"]{
    margin-right: 10px;
}
/* 中药产业 */
#industry-part1{
    width: 35%;
    margin-right: 25px;
}
#industry-part2{
    width: 63%;
}

.enterprise p {
    display: -webkit-box;         /* 使用弹性盒子模型 */
    -webkit-box-orient: vertical; /* 垂直排列盒子里的内容 */
    overflow: hidden;             
    -webkit-line-clamp: 3;        /* 限制显示三行 */
    text-overflow: ellipsis;    
    text-indent: 2rem;  
}
.enterprise{
    display: flex;
}
.enterprise-img{
    width: 30%;
}
.enterprise-img img{
    width: 100%;
    height: 80%;
}
.enterprise-in{
    width: 70%;
}
.enterprise-title{
    display: flex;
    font-weight: bolder;
    justify-content: center;
}
.enterprise-in p{
    margin-left: 10px;
}
/* 药材购买 */
#buy{
    display: flex;
    justify-content: space-between;
}

.sell{
    width: 23%;
    line-height: 28px;
    border: solid 1px hsla(0, 0%, 0%, 0);
    border-radius: 10px;
    padding: 2px;
}
.sell:hover{
    border-color: hsl(18, 100%, 50%);
}
.allprice{
    display: flex;
}
.sell img{
    width: 100%;
    border-radius: 10px;
}

.sell-info{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.allprice{
    display: flex;
    align-items: center;
}
.sell-price{
    color: hsl(18, 100%, 50%);
    font-weight: bolder;
}
.before-price{
    font-size: 0.75rem;
    color: gray;
    text-decoration-line: line-through;
    margin-left: 10px;
}
.sell-place{
    font-size: 0.75rem;
}
.sell-activity{
    font-size: 0.75rem;
    color: hsl(18, 100%, 50%);
}
.sell-shop{
    font-size: 0.75rem;
    color: gray;
}
/* 中医文化 */
.culture-part:first-child{
    width: 39%;
    margin-right: 26px;
}
.culture-part:nth-of-type(2){
    width: 50%;
    margin-right: 26px;
}
.culture-part:nth-of-type(3){
    width: 22%;
}
#culture-doctor{
    display: flex;
    justify-content: space-between;
    width: 98%;
}
.culture-doctor{
    width: 30%;
}
.culture-doctor img{
    width: 100%;
    height: 100%;
    border: solid 3px hsl(28, 81%, 46%);
}
@font-face{
    font-family: "doctor-name-font" ;
    src: url("/others/fonts/YeZiGongChangZhuRiHanLiTi-2.ttf");
}
.doctor-name{
    font-family: doctor-name-font;
}
.culture-doctor:hover{
    img{
        box-shadow: 0px 0px 15px 5px hsl(0, 0%, 62%);
    }
}
.doctor-name{
    display: block;
    text-align: center;
}
.culture-tour-pictures{
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}
.culture-tour-pictures li{
    width: 30%;
    margin: 10px;
}
.culture-tour img{
    width: 100%;
    height: 100%;
}
.culture-tour-pictures li:hover{
    box-shadow: 0px 0px 15px 5px hsl(0, 0%, 62%);
}
/* 页脚 */
footer{
    padding-top: 60px;
}
footer hr{
    width: 1200px;
}
#foot-category{
    display: flex;
    width: 1200px;
    margin: auto;
    justify-content: space-between;
    line-height: 2rem;
    font-size: 0.9rem;
}
#foot-category ul{
    padding: 0px;
    list-style-type: none;
    font-weight: bolder;
}
#foot-category ul li{
    font-weight: lighter;
    font-size: 0.8rem;
}
/* 底部相关网站 */
.relative-website{
    width: 1200px;
    margin: auto auto 80px auto;
}

.relative-website ul{
    padding-top: 20px;
    padding-left: 0px;
}
.website-logo{
    width:200px;
}
#zjgov-logo{
    width:230px
}
#tcmlargelogo{
    height: 60px;
    width: 180px;
}
#websitefirst{
    margin-left: 0px;
}
#websitelast{
    margin-right: 0px;
}
/* 底部导航 */
footer{
    background-color: hsl(0, 0%, 23%);
    min-width: 1400px;
    width: 100%;

}



.relative-website ul{
    display: flex;
    margin: auto;
    list-style-type: none;
}

.relative-website ul li{
    margin: auto;
}

.foot-nav{
    width: 1200px;
    display: flex;
    margin: auto;
    border-bottom: solid 1px white;
    font-size: 0.8rem;
}
.foot-nav ul{
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
}
.foot-nav ul li{
    margin: auto;
}
#foot-nav-main{
    padding-left: 0px;
    width: 700px;
    display: flex;
    margin-left: 0;
    list-style-type: none;
    justify-content: space-between; 
}


#bottom-nav-logo{
    width: 40px;
    height: 40px;
}



footer{
    color: white;
}
#foot-nav-others li a img{
    height: 25px;
    width: 25px;
}
#foot-nav-others li{
    display: flex;
    margin: 0px 10px;
}
#foot-nav-others{
    display: flex;
    width: 200px;
    margin-right: 0px;
    margin-left: auto;
}


/* 版权信息 */
#foot-copyright{
    color: hsl(0, 1%, 67%);
    width: 1200px;
    margin: auto;
    font-size: 0.8rem;
}
#foot-copyright div{
    padding: 10px 0px;
}
address{
    padding: 10px 0px 30px;
}
