/* body整个 */
body{
    margin: 0px;
    background-color: hsl(0, 0%, 96%);
}
/* 悬浮按钮 */
.suspension{
    display: none;
    position: fixed;
    width: 70px;
    height: 200px;
    bottom: 200px;
    right: 0px;
}

.susimg{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.susimg img{
    width: 20px;
    height: 20px;
}
.sustxt{
    display: flex;
    justify-content: center;
    font-size: 0.6rem;
    margin-top: 5px;
}
#sus-open{
    background-color: white;
    box-shadow: 0px 0px 10px 1px hsl(0, 0%, 90%);
}
.sus-open-part{
    display: block;
    width: 70px;
    height: 70px;
    position: relative;
}
.sus-open-part:last-child,.sus-open-part:nth-child(2){
    border-top: solid 1px hsl(0, 0%, 86%);
}

/* 二维码 */
#QRcode{
    display: none;
    position: absolute;
    top: 0px;
    right: 80px;
    background-color: white;
    border: solid 1px hsl(0, 0%, 86%);
    box-shadow: 0px 0px 10px 1px hsl(0, 0%, 90%);
}
#QRcode img{
    width: 200px;
    height: 200px;
}
#QRcode p{
    text-align: center;
    font-size: 0.7rem;
    font-weight: bolder;
    margin: 0px 0px 10px 0px;
}
.sus-open-part:nth-child(2):hover{
    #QRcode{
        display: block;
    }
}
/* 回顶部 */
#sus-backtop{
    display: block;
    background-color: white;
    width: 70px;
    height: 70px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px 1px hsl(0, 0%, 90%);
}
#backtop-img{
    display: flex;
    justify-content: center;
    padding-top: 12px;
}
#backtop-img img{
    width: 35px;
    height: 35px;
}
#backtop-txt{
    font-size: 0.6rem;
    text-align: center;
}

/* 广告 */
#ad{
    display: block; 
    position: fixed;
    width: 90px;
    bottom: 75px;
    left: 0px;
}
#ad-img{
    display: flex;
}
#ad-img img{
    width: 90px;
    height: 370px;
}
#ad button{
    width: 90px;
    font-weight: lighter;
}
/* 顶部广告 */
#top-img{
    width: 100%;
    min-width: 1400px;
    height: 250px;
}
#top-img img{
    width: 100%;
    height: 100%;
}
/* 头部内容 */
#sticky{
    position: sticky;
    z-index: 100;
    top: 0;
}
header{
    width: 100%;
    min-width: 1200px;
    background: hsl(0, 0%, 0%);
}

/* 顶部导航栏 */
#auto-nav{
    display: flex;
    width: 1200px;
    padding: 0px;
    margin: 0px auto;
    font-size: 0.75rem;
    height: 64px;
    align-items: center;
}
#logo img{
    width: 40px;
    height: 40px;
}
nav{

    color: white;
    display: flex; 
    justify-content: center; 
}
nav ul{
    display: flex;
    height: 64px;
    margin: 0px auto;
    padding: 0px;
    border-width: 2px;
    list-style-type: none;
}
nav ul li{
    padding: 20px 20px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}
nav ul li:hover{
    background-color: white;
    color: black;
}
#dropdown-famous{
    display: none;
    position: absolute;
    left: 0px;
    top: 64px;
    background-color: white;
    width: 70px;
    height: auto;
    border-radius: 0 0 5px 5px;
}
#dropdown-famous li:last-child{
    padding-bottom: 10px;
}
#dropdown-famous li{
    padding: 5px;
    justify-content: center;
}
#nav-ming{
    position: relative;
    width: 30px;
}
#nav-ming a{
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-ming:hover{
    background-color: white;
    color: black;
    #dropdown-famous{
        display: block;
    }
}
#dropdown-famous li:hover{
    background-color: black;
    color: white;
    
}

/* 搜索框 */
#search{
    display: flex;
    margin-left: auto;
    align-items: center; 
}
#search-input1{
    width: 150px;
    border: none;
    border-radius: 20px;
    padding: 2px 6px;
    margin: auto 0;
    height: 29px;
    color: white;
    background-color: hsla(0, 0%, 70%, 0.5);
}
#search-input2{
    height: 29px;
    width: 66px;
    border: none;
    border-radius: 20px;
    padding: 2px 6px;
    margin: auto 0;
    margin-right: 20px;
    color: white;
    background-color: hsl(0, 0%, 70%, 0.5);
}
#search-input2:hover{
    color: hsl(28, 81%, 46%);
    background-color: bisque;
}
/* 账户 */
#account{
    height: 23px;
    display: flex;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    padding: 2px 6px;
    border-radius: 20px;
    margin: auto 0 ;
    margin-left: 0;
}
#account a{
    color: white;
    margin: auto;
}
#account:hover{
    a{color: hsl(28, 81%, 46%);}
    background-color: bisque;
    border-color: hsl(28, 81%, 46%);
}

/* 主内容 */
main{
    min-width: 1400px;
    margin-bottom: 40px;
}
/* 超链接 */
a{
    text-decoration: none;  /*无下划线*/
    color: inherit;
}





/* 新闻中心标题 */
#news-alltitle{
    width: 85%;
    min-width: 1200px;
    margin: 20px auto 10px auto;
    display: flex;
    align-items: center;
    border-bottom: solid 8px hsl(28, 81%, 46%);
}
#where{
    margin-left: auto;
    margin-right: 10px;
}
h2{
    background-color: hsl(28, 81%, 46%);
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}
/* 第一部分 */
#part1{
    width: 85%;
    min-width: 1200px;
    margin: 0 auto;
    display: flex;
}
/* 轮播图 */
#roll-picture{
    width: 43%;
    margin-right: 30px;
    position: relative;
    height: 380px;
    display: flex;
}
#roll-picture img{
    width: 100%;
    height: 90%;
    margin-top: auto;
    margin-bottom: 0px;
}
#roll-picture-txt{
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: hsla(0, 0%, 70%, 0.5);
}
/* 图文视频 */
#box-title{
    display: flex;
    align-items: center;
    background-color: hsl(28, 81%, 46%);
    margin-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#box-content{
    margin-top: 0px;
}
#box-title1{
    width: 90px;
    display: flex;
    background-color: hsl(28, 100%, 80%);
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#box-title2{
    width: 90px;
    display: flex;
    background-color: hsl(28, 81%, 46%);
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.more-a{
    margin-left: auto;
    margin-right: 10px;
}
#box-title ul{
    padding-left: 0px;
    display: flex;
    list-style-type: none;
    margin: 0px;
    height: 40px;
}
#ivbox{
    width: 53%;
    margin-right: auto;
}
#box-video{
    display: flex;
    background-color: hsl(28, 100%, 80%);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 391px;
    justify-content: center;
    align-items: center;
}
#box-video video{
    width: 90%;
}
#box-img{
    display: none;
    background-color: hsl(28, 100%, 80%);
    padding: 0px 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#box-img ul{
    list-style-type: none;
    display: flex;
    margin: 0px;
    justify-content: space-around;
    padding-left: 0px;
    padding-top: 30px;
}
#box-img ul:last-child{
    padding-bottom: 30px;
}
#box-img ul li{
    width: 28%;
}
.live-img img{
    width: 100%;
    height: 145px;
    box-shadow: 0px 0px 10px 5px hsla(0, 0%, 34%, 0.3);
}

/* 第二部分 */
.smalltitle{
    display: flex;
    border-bottom: 2px solid hsl(0, 0%, 51%);
    margin-top: 20px;
    margin-bottom: 20px; 
}
.more{
    margin-left: auto;
    align-items: center;
    display: flex;
    color: gray;
}
#diffent-more:hover{
    color: white;
}
.more-a:hover{
    color: hsl(28, 81%, 46%);
}
h3{
    margin-bottom: 0px;
    margin-top: 0px;
    border-bottom: solid 3px hsl(0, 89%, 41%);
}
.top-content{
    text-indent: 2rem;
    color: hsl(0, 0%, 48%);
    font-size: 0.8rem;
    margin-left: 0.5rem;
}
.top-title{
    font-weight: bolder;
    border-left: solid 4px hsl(0, 89%, 41%);
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}.news-others{
    font-size: 0.9rem;
    display: flex;
    line-height: 30px;
}
.news-others:hover{
    box-shadow: 5px 5px 15px 1px hsl(0, 0%, 62%);
    border-radius: 5px;
}
.others-title{
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.others-time{
    display: flex;
    margin-left: auto;
    margin-right: 0px;
}
.news-top{
    margin-bottom: 10px;
}
#part2{
    width: 85%;
    min-width: 1200px;
    margin: 0 auto;
    display: flex;
}
#part2-1{
    width: 47%;
    margin-right: 50px;
}
#part2-2{
    width: 47%;
    margin-right: auto;
}

/* 人物专访 */
#interview{
    background-color: hsl(28, 100%, 80%);
    border-radius: 20px;
}
#interview-title{
    background-color: hsl(28, 81%, 46%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 1.5rem;
    font-weight: bolder;
}
#interview-title a{
    margin-left: 40px;
}
#interview-content{
    width: 90%;
    margin: 10px auto 0px auto;
    padding-bottom: 10px;
}
#interview-content-title{
    font-weight: bolder;
}
#interview-content-content{
    text-indent: 2rem;
}
#interview-content img{
    width: 100%;
    height: 350px;
}






/* 页脚 */
footer{
    padding-top: 40px;
}
footer hr{
    width: 1200px;
}
#foot-category{
    display: flex;
    width: 1200px;
    margin: auto;
    justify-content: space-between;
    line-height: 2rem;
    font-size: 0.9rem;
}
#foot-category ul{
    padding: 0px;
    list-style-type: none;
    font-weight: bolder;
}
#foot-category ul li{
    font-weight: lighter;
    font-size: 0.8rem;
}
/* 底部相关网站 */
.relative-website{
    width: 1200px;
    margin: auto auto 80px auto;
}

.relative-website ul{
    padding-top: 20px;
    padding-left: 0px;
}
.website-logo{
    width:200px;
}
#zjgov-logo{
    width:230px
}
#tcmlargelogo{
    height: 60px;
    width: 180px;
}
#websitefirst{
    margin-left: 0px;
}
#websitelast{
    margin-right: 0px;
}
/* 底部导航 */
footer{
    background-color: hsl(0, 0%, 23%);
    min-width: 1400px;
    width: 100%;

}



.relative-website ul{
    display: flex;
    margin: auto;
    list-style-type: none;
}

.relative-website ul li{
    margin: auto;
}

.foot-nav{
    width: 1200px;
    display: flex;
    margin: auto;
    border-bottom: solid 1px white;
    font-size: 0.8rem;
}
.foot-nav ul{
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
}
.foot-nav ul li{
    margin: auto;
}
#foot-nav-main{
    padding-left: 0px;
    width: 700px;
    display: flex;
    margin-left: 0;
    list-style-type: none;
    justify-content: space-between; 
}


#bottom-nav-logo{
    width: 40px;
    height: 40px;
}



footer{
    color: white;
}
#foot-nav-others li a img{
    height: 25px;
    width: 25px;
}
#foot-nav-others li{
    display: flex;
    margin: 0px 10px;
}
#foot-nav-others{
    display: flex;
    width: 200px;
    margin-right: 0px;
    margin-left: auto;
}


/* 版权信息 */
#foot-copyright{
    color: hsl(0, 1%, 67%);
    width: 1200px;
    margin: auto;
    font-size: 0.8rem;
}
#foot-copyright div{
    padding: 10px 0px;
}
address{
    padding: 10px 0px 30px;
}
