/* body整个 */
body{
    margin: 0px;
}

/* 头部内容 */
header{
    width: 100%;
    background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0.9), hsla(0, 0%, 0%, 0));
    position: fixed;
    top: 0px;
    z-index: 1;
}



/* 顶部导航栏 */
#auto-nav{
    display: flex;
    width: 1200px;
    padding: 0px;
    margin: 0px auto;
    font-size: 0.75rem;
    height: 64px;
    align-items: center;
}
#logo img{
    width: 40px;
    height: 40px;
}
nav{

    color: white;
    display: flex; 
    justify-content: center; 
}
nav ul{
    display: flex;
    height: 64px;
    margin: 0px auto;
    padding: 0px;
    border-width: 2px;
    list-style-type: none;  /*消除列表前的点*/
}
nav ul li{
    padding: 20px 20px;
}
nav ul li:hover{
    background-color: black;
}
#dropdown-famous{
    display: none;
    position: absolute;
    left: 0px;
    top: 64px;
    background-color: hsla(0, 0%, 0%, 0.2);
    width: 70px;
    height: auto;
    border-radius: 0 0 5px 5px;
}
#dropdown-famous li:last-child{
    padding-bottom: 10px;
}
#dropdown-famous li{
    padding: 5px;
    text-align: center;
}
#dropdown-famous li a{
    width: 30px;
}
#nav-ming{
    position: relative;
    width: 30px;
}
#nav-ming:hover{
    background-color: black;
    #dropdown-famous{
        display: block;
    }
}
#dropdown-famous li:hover{
    background-color: black;
    
}

/* 搜索框 */
#search{
    display: flex;
    margin-left: auto;
    align-items: center; 
}
#search-input1{
    width: 150px;
    border: none;
    border-radius: 20px;
    padding: 2px 6px;
    margin: auto 0;
    height: 29px;
    color: white;
    background-color: hsl(0, 0%, 0%, 0.5);
}
#search-input2{
    height: 29px;
    width: 66px;
    border: none;
    border-radius: 20px;
    padding: 2px 6px;
    margin: auto 0;
    margin-right: 20px;
    color: white;
    background-color: hsl(0, 0%, 0%, 0.5);
}
/* 账户 */
#account{
    height: 23px;
    display: flex;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    padding: 2px 6px;
    border-radius: 20px;
    margin: auto 0 ;
    margin-left: 0;
}
#account a{
    color: white;
    margin: auto;
}

/* 主内容 */
main{
    min-width: 1200px;
}
/* 横幅广告 */
#banner{
    position: relative;
    z-index: 0;
}
#banner img{
    width: 100%;
    height: 800px;
}
#turnleft{
    position: absolute;
    left: 0px;
    top: 355px;
    display: flex;
    background-color: hsl(0,0%,0%,0.5);
    height: 90px;
    width: 50px;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
}
#turnright{
    position: absolute;
    right: 0px;
    top: 355px;
    display: flex;
    background-color: hsl(0,0%,0%,0.5);
    height: 90px;
    width: 50px;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
}
#turnleft img{
    width: 30px;
    height: 50px;
    position: relative;
    left: 10px;
}
#turnright img{
    width: 30px;
    height: 50px;
    position: relative;
    left: 10px;
}
div#turnleft:hover{
    display: none;
}
div#turnright:hover{
    display: none;
}
/* 超链接 */
a{
    text-decoration: none;  /*无下划线*/
    color: inherit;
}


/* 分块标题 */
h2{
    width: 85%;
    min-width: 1200px;
    display: flex;
    font-size: 1.5rem;
    border-left: 10px solid black;
    padding-left: 10px;
    background-color: hsl(0, 4%, 74%);
    margin: auto;
    height: 44px;
    align-items: center;
}


/* 分块内容 */
.contant{
    display: flex;
    width: 85%;
    min-width: 1200px;
    margin: 0px auto;
}
/* 小板块 */

.smalltitle{
    display: flex;
    border-bottom: 2px solid hsl(0, 0%, 51%);
    margin-top: 20px;
    margin-bottom: 20px;
}
.more{
    margin-left: auto;
    align-items: center;
    display: flex;
    color: gray;
}
a.more-a:hover{
    color: rgb(232, 156, 156);
}

h3{
    margin-bottom: 0px;
    margin-top: 0px;
    border-bottom: solid 3px hsl(0, 89%, 41%);
}

/* 新闻中心 */
#news{
    margin-bottom: 20px;
}
.news-part{
    width: 32%;
    padding-right: 2%;
}
.top-content{
    text-indent: 2rem;
    color: hsl(0, 0%, 48%);
    font-size: 0.8rem;
    margin-left: 0.5rem;
}
.top-title{
    font-weight: bolder;
    border-left: solid 4px hsl(0, 89%, 41%);
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news-others{
    font-size: 0.9rem;
    display: flex;
}
.others-title{
    flex:1 1 303px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.others-time{
    flex: 0 0 74px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: auto;
}
/* 养生中国 */
/* 节气养生 */
#regimen-p1 img{
    width: 200px;
    height: 150px;
}
#regimen-p2 img{
    width: 60px;
    height: 80px;
}
/* 名 */
#famous-part1{
    width: 20%;
}
#famous-part2{
    width: 32%;
}
#famous-part3{
    width: 32%;
}
#famous-part3-list,#famous-part2-list{
    display: flex;
}
#famous ul{
    list-style-type: none;
}
/* 中药产业 */
#industry-part1{
    width: 30%;
    margin-right: 25px;
}
#industry-part2{
    width: 68%;
}
#buy{
    display: flex;
}

.before-price{
    color: gray;
    text-decoration-line: line-through;
}

.enterprise p {
    display: -webkit-box;         /* 使用弹性盒子模型 */
    -webkit-box-orient: vertical; /* 垂直排列盒子里的内容 */
    overflow: hidden;             
    -webkit-line-clamp: 3;        /* 限制显示三行 */
    text-overflow: ellipsis;    
    text-indent: 2rem;  
}



/* 中医文化 */
#culture-tour-pictures{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.culture-part:first-child{
    width: 37%;
}
.culture-part:nth-of-type(2){
    width: 50%;
    margin-right: 26px;
}
.culture-part:nth-of-type(3){
    width: 26%;
}
#culture-doctor{
    display: flex;
}
/* 页脚 */
/* 底部相关网站 */
.relative-website{
    width: 1200px;
    margin: auto auto 80px auto;
}

.relative-website ul{
    padding-top: 20px;
    padding-left: 0px;
}
.website-logo{
    width:200px;
}
#zjgov-logo{
    width:230px
}
#tcmlargelogo{
    height: 60px;
    width: 180px;
}
#websitefirst{
    margin-left: 0px;
}
#websitelast{
    margin-right: 0px;
}
/* 底部导航 */
footer{
    background-color: hsl(0, 0%, 23%);
    width: 100%;

}



.relative-website ul{
    display: flex;
    margin: auto;
    list-style-type: none;
}

.relative-website ul li{
    margin: auto;
}

.foot-nav{
    width: 1200px;
    display: flex;
    margin: auto;
    border-bottom: solid 1px white;
    font-size: 0.8rem;
}
.foot-nav ul{
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
}
.foot-nav ul li{
    margin: auto;
}
#foot-nav-main{
    padding-left: 0px;
    width: 700px;
    display: flex;
    margin-left: 0;
    list-style-type: none;
    justify-content: space-between; 
}


#bottom-nav-logo{
    width: 40px;
    height: 40px;
}



footer{
    color: white;
}
#foot-nav-others li a img{
    height: 25px;
    width: 25px;
}
#foot-nav-others li{
    display: flex;
    margin: 0px 10px;
}
#foot-nav-others{
    display: flex;
    width: 200px;
    margin-right: 0px;
    margin-left: auto;
}


/* 版权信息 */
#foot-copyright{
    color: hsl(0, 1%, 67%);
    width: 1200px;
    margin: auto;
    font-size: 0.8rem;
}
#foot-copyright div{
    padding: 10px 0px;
}
address{
    padding: 10px 0px 30px;
}
